TELEGRAM_BOT_TOKEN=TELEGRAM_BOT_TOKEN
OPENAI_API_KEY=SECRET_KEY
OPENAI_BASE_URL=https://api.openai.com/v1
TEXT_MODEL=gpt-4o-mini
VISION_MODEL=gpt-4o-mini
STT_MODEL=whisper-1
TTS_MODEL=gpt-4o-mini-tts
TTS_VOICE=alloy
EMBEDDING_MODEL=text-embedding-3-small
ADMIN_ID=0
