# Виртуальное окружение
venv/
.venv/

# Секретные данные
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# PyCharm
.idea/

# Временные файлы
temp/
*.log

# Локальная база ChromaDB
storage/chroma/

# Системные файлы
.DS_Store
Thumbs.db
